# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
print("Data","Science","Mentorship","Program",end="-",sep="-")
print("By","CampusX",sep="-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
celcius=float(input("Enter temperature in celcius - "))
fahrenheit=(celcius*(9/5)+32)
print("Temperature in fahrenheit = ",fahrenheit)

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
number1=int(input("Enter first number - "))
number2=int(input("Enter second number - "))
number1,number2 = number2,number1
print("Swapped numbers -",number1,number2,sep=" ")

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
x1=float(input("Enter value of x1 - "))
y1=float(input("Enter value of y1 - "))
x2=float(input("Enter value of x2 - "))
y2=float(input("Enter value of y2 - "))
euclidean_distance=((x2-x1)**2 +(y2-y1)**2)**0.5
print("Euclidean distance b/w",x1,",",y1,"and",x2,",",y2,"is",euclidean_distance)

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
p=int(input("Enter principle amount - "))
r=float(input("Enter rate of interest - "))
t=float(input("Enter time(in years) - "))
simpleInterest=(p*r*t)/100
print("Simple Interest = ",simpleInterest)
print("Total value = ",p+simpleInterest)

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads=int(input("Enter heads - "))
legs=int(input("Enter  legs - "))
#dogs+chicken=heads
#4*dogs+2*chicken=legs
dogs=legs//2 - heads
chicken=heads - dogs
if(4*dogs + 2*chicken)!=legs or dogs<0 or chicken<0:
    print("NOT POSSIBLE")
else:
    print("no. of dogs - ",dogs)
    print("no. of chicken - ",chicken)

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
n=5
sum=0
for i in range(1,n+1):
    sum=sum+(i**2)
print("Sum of Squares of first",n,"numbers =",sum,sep=" ")

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
n1=4
n2=7
n=100
nth_term=n1+(n-1)*(n2-n1)
print("Nth term - ",nth_term)

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
import math
n1=int(input("Enter 1st numerator - "))
n2=int(input("Enter 2st numerator - "))
d1=int(input("Enter 1st denominator - "))
d2=int(input("Enter 2st denominator - "))
lcm=math.lcm(d1,d2)
n1=int(n1*(lcm/d1))
n2=int(n2*(lcm/d2))
print("Sum of the fraction = ",n1+n2,"/",lcm)

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
H=20
L=20
B=20
h=3
r=1
volume_tank=H*L*B
volume_glass=3.14*(r**2)*h
glasses=int(volume_tank//volume_glass)
print("Glasses of milk =",glasses,"glasses")